.main {
  margin: 20px auto;
  width: 90%;
}

header p {
  font-style: italic;
}

header p:last-child {
  font-size: 1em;
  margin-bottom: 40px;
}

a,
a:active {
  color: #1DB702;
  text-decoration: none;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.25em;
}

.container {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  justify-content: space-between;
}